.page {
	height: 640px;
	width: 360px;
	background-color: cyan;
}

.title {
	height: 20px;
	width: 360px;
}

.requirements {
	height: 250px;
	width: 360px;
	align-content: center;
}

#information {
	height: 250px;
	width: 360px;
	background-color: green;
}

#button {
	height: 15px;
	width: 30px;
	background-color: red;
}

#headerfont {
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	font-size: 17pt;
}

#header2font {
	font-family: Arial;
	text-align: left;
	font-size: 15pt;
}

#box {
	height: 200px;
	width: 350px;
	border-radius: 15px;
	background-color: black;
	margin: center;
}