.page {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.title {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 6.5vw;
  height: 3.5vh;

}

.requirements {
 text-align: left;
 font-family: 'Open Sans', sans-serif;
 width: 70vw;
 border: 15px #071AAF;
 padding: 50px;
 margin: 20px;
 font-size: 4.5vw;

}

#header {
height: 5vh;
 width: 60vw;
 background-color: #071AAF;
 display: inline-block;
 border-style: solid;
 border-radius: 10px;
 border-color: #101070;
 border-width: 5px;
 color: #FFFFFF;
 text-align: center;
 margin-top: 3vh;
 margin-bottom: 5vw;
 font-size: 4vw;
}

#words {
  font-size: 4vw;
}

.information {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  border: 15px;
  padding: 50px;
  margin: 10px;

}

#schedule {
  width: 100%;
  min-height: 60vh;
  border-radius: 15px;
}

.pagechanger {
  width: 5%;
  height: 5%;
  margin: inherit;
  margin-top: 5%;
}

.button {
  font-size: 3.9vw;
}