html{
  background-color: #FFD53F;
  width: 100vw;
  height: 100vh;
}

body{
    width: 100vw;
    height: 100vh;
}
h1{
    font-size: 10vw;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}


.info{
    height: 5vh;
    width: 100vw;
    margin: center; 
    border: 3px solid black;
    border-radius: 3px;
    background-color: yellow;
    margin-top: 5vh;
    display: inline-block;
}


.bocc{
    height: 30vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

.not{
	height: 30vh;
	width: 90vw;
	margin-top: 8vh;
	margin-left: 20vw;
}

.vsport{
    height: 30vh;
    width: 40vw;
    border-width: 3px;
    border-style: outset;
    border-radius: 12px;
    border-color: solid gray;
    margin-left: 5vw;


}

.tfsport{
    height: 30vh;
    width: 40vw;
    border-width: 3px;
    border-style: outset;
    border-radius: 12px;
    border-color: solid gray;
    margin-left: 5vw;
}

.jsport{
    height: 30vh;
    width: 40vw;
    border-width: 3px;
    border-style: outset;
    border-radius: 12px;
    border-color: solid gray;
    margin-left: 5vw;
}

h3{
    font-family: Arial;
    text-align: center;
    font-size: 5vw;
    margin-top: 2%;
}

h2{
    font-family: Arial;
    text-align: center;
    margin: center;
    font-size: 2vh 3vw;
}