html,body{
    background-color: #FFD53F;
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 5vh;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.bocc{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.bocc > div {
    height: 30vh;
    width: 44vw;
    background-color: white;
    margin-left: 4vw;
}

.not{
    height: 30vh;
    width: 100vw;
    margin-top: 5vh;
}

.not > div{
    height: 30vh;
    width: 44vw;
    background-color: white;
    margin-left: 4vw;
}

.info{
    height: 5vh;
    width: 100vw;
    background-color: yellow;
    margin-top: 5vh;
    display: inline-block;
    margin-bottom: 10vh;
}

h3{
    font-family: Arial;
    text-align: center;
    font-size: 5vw;
    margin-top: 2%;
}

h2{
    font-family: Arial;
    text-align: center;
    margin-top: center;
    font-size: 2vh 3vw;
}