.page {
	width: 100vw;
	height: 100vh;
}

.title {
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 6.5vw;
}

.location {
	width: 60%;
	height: 5%;
	margin: auto;
	border: 5px solid black;
}

#indoors {
	height: 100%;
	text-align: left;
	font-size: 5vw;
}

#message {
	text-align: center;
	font-size: 4vw;
	font-weight: bold;
}
